@font-face {
    font-family: Logo;
    src: url(./fonts/RubikDirt-Regular.ttf);
}
@font-face {
    font-family: Regular;
    src: url(./fonts/InterTight-Medium.ttf);
}
@font-face {
    font-family: Poppins-Light;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
}
*
{
    padding: 0;
    margin: 0;
    transition: 0.5s;
}
 a {
     color: white;
     text-decoration: none;

    }
.NavBar
{
    width: 100%;
    height: 60px ;
    background-color:   black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    position: sticky;
   top:  0;
    z-index: 200; 
    box-sizing: border-box;
    
}
.NavBar .Logo
{
    font-family: Logo;
    font-size: 30px;
    cursor: pointer;
    
}
.buttons
{
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    cursor: pointer;
}

.buttons .material-symbols-outlined
{
    font-size: 25px;
    border: 2px white solid;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px 0 5px;
    position: relative;
    
}
.buttons .material-symbols-outlined .ElementsNumber
{
        
        background-color: greenyellow;
        width: 18px;
        height: 18px;
        position: absolute;
        border-radius: 50%;
        z-index: 99999999;
        bottom: -4px;
        right: -4px;
        color: black;
        font-size: 7px;
        
        display: flex;
        align-items: center;
        justify-content: center;
}

.NavBar .Navigation a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: Regular;
    margin: 0 8px 0 8px;
}
/*----Carusel Styles ------------*/

.MainContent {
    /*position: absolute;*/
    width: 100%;
    
    /* height: calc(100vh - 60px); */
   
    
}

.SalesCarusel
{
    
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    

}
.Arrow {
    position: absolute;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: white;
    z-index: 90;
    cursor: pointer;
    padding: 0 5px 0 5px;
}
.Arrow.left
{
    left: 0;
}
.Arrow.right {
    right: 0;
}
.Products
{
   
    width:100%;
    height: 100%;
    display: flex;
     overflow-y: hidden;
    overflow-x: hidden;  
}
.Products .Product {
    
    width: 100%;
    height: 100%;
    position: relative;
}
.SalesCarusel .Products .Product img{
    width: 100vw ;
    height: 100%;
}
.SalesCarusel .Products .Product .Discription
{
    font-family: Regular;
    font-size: 35px;
    font-weight: 600;
    width: 450px;
    left: 80px;
    top: 80px ;
    color: white;
    position: absolute;
    
}

.CaruselButtons
{
    display: flex;
    
    position: absolute;
    bottom: 10px;
    

}

.CaruselButt
{
    transition: 0.5s;
    width: 80px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.089);
    border: 3px solid white;
    margin: 0 5px 0 5px;
    z-index: 10;
   
}
.CaruselButt.Active
{
    background-color: white;
}
.CaruselButt:hover
{
    background-color: white;
}

/*-----------------------------------------------------*/

.ItemsGrid
{
    box-sizing: border-box;
    width: 100%;
    min-height: 80vh;
    padding: 30px;
    display: flex;
    background-color: #f4f4f4;
}
.SortSettings
{
    
    font-family: Regular;
    flex: 1;
    font-weight: 700;
    
    
}
.SortSettings ul{
    margin-top: 50px;
    list-style-type :  none;
    display: inline-block;
}
.SortSettings ul li{
    margin-bottom: 10px;
    
}
.ProductsGrid
{
 flex: 6;
}

.ItemsGrid .SortSettings .CheckBox
{
    display: inline-block;
    
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    cursor: pointer;
    
}
.ItemsGrid .SortSettings .CheckBox.Active {
    
    background-color: black;
}
/*--------LIne---------*/
.Devider
{
   padding: 2px;
   height: 100%;
   width: fit-content;
   display: flex;
   justify-content: center;
    
}
.Devider .Line
{
    background-color: black;
    width: 2px;
    height: 100%;
}

/*-----Products Grid------------*/
.ProductsGrid
{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;

}
.ProductsGrid .Product
{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.ProductsGrid .Product .ProdImg
{
    width: 200px;
    height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: white ;
}
.ProductsGrid .Product  img
{
   height: 150px;
   width: 160px;
}
.Info
{
    display: flex;
    
    
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.Info .prodName
{
    font-family: Poppins-Light;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;  
    overflow: hidden; 

}
.Info .prodPrice
{
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #444;
    

}
.ProductsGrid .Product .ProdHover
{
    width: 100%;
    height: 100%;
    position: absolute;

}
.ProductsGrid .Product .ProdHover .more
{
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 0 ;
    width: 100%;
    bottom: 0;
    background-color: #222529;
    font-family: Poppins-Light;
    color: white;
    cursor: pointer;
    
    
}
.ProductsGrid .Product .ProdHover .addToCart {
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 25%;
    overflow: hidden;
    top: 0;
    display: none;
    
   

}
.ProductsGrid .Product .ProdHover .addToCart img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}
 .ProductsGrid .Product:hover .addToCart
 {
    display: flex;
 }
 .ProductsGrid .Product:hover  .more   
{
    
    height: 25%;
} 
/*-----------------Login Page------------*/
.LoginPage
{
    /*position: absolute;*/
    width: 100%;
    height: calc(100vh - 60px);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.LoginPage .LoginBox , .LoginPage .RegisterBox
{
    background-color: black ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .LoginForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin:20px 0 20px 0;

}
 .LoginForm input
{
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    font-family:Regular ;
    outline: none;
    border-radius: 5px;
    border: none;
    
}
 .sunbmitBut
{
    font-family: Poppins-Bold;
    background-color: white;
    border-radius: 15px;
    height: 40px;
    width: 100%;
    cursor: pointer;

}
 .loginOrRegister
{
   font-family:  Poppins-Bold ;
    display: flex;
    color:  white;
    gap: 10px;
    cursor: pointer;
}
 .slider
{
    width: 50px;
    background-color: white;
    padding: 4px;
    border-radius: 50px;
    display: flex;
    transition: 1s;
    align-items: center ;
    position: relative;
    box-sizing: border-box;
}
 .dot {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
    
    
}
 .dot.login 
{
    margin-right: 100%;
}
 .dot.register 
{
    margin-left: calc(100% - 20px);
}
/*-----------------FOOTER---------*/
.Footer
{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    padding: 5%;
    /* position: absolute;
    top: 200vh; */
    width: 100%;
    height: 50vh;
    color: #f4f4f4;
}