@font-face {
    font-family: Logo;
    src: url(./fonts/RubikDirt-Regular.ttf);
}
@font-face {
    font-family: Regular;
    src: url(./fonts/InterTight-Medium.ttf);
}

*
{
    padding: 0;
    margin: 0;
    transition: 0.5s;
}
.NavBar
{
    
    width: 100%;
    height: 60px ;
    background-color:   black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    position: fixed ;
    z-index: 200;
    box-sizing: border-box;
    
}
.NavBar .Logo
{
    font-family: Logo;
    font-size: 30px;
    cursor: pointer;
    
}
.buttons
{
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    cursor: pointer;

    
}
.buttons .material-symbols-outlined
{
    font-size: 25px;
    border: 2px white solid;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px 0 5px;
}

.NavBar .Navigation a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: Regular;
    margin: 0 8px 0 8px;
}
/*----Carusel Styles ------------*/

.MainContent {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    bottom: 0;
}
.SalesCarusel
{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.Products
{
   
    width:100%;
    height: 100%;
    display: flex;
     overflow-y: hidden;
    overflow-x: hidden;  
}
.Products .Product {
    
    width: 100%;
    height: 100%;
    position: relative;
}
.SalesCarusel .Products .Product img{
    width: 100vw ;
    height: 100%;
}
.SalesCarusel .Products .Product .Discription
{
    font-family: Regular;
    font-size: 35px;
    font-weight: 600;
    width: 450px;
    left: 80px;
    top: 80px ;
    color: white;
    position: absolute;
    
}

.CaruselButtons
{
    display: flex;
    
    position: absolute;
    bottom: 10px;
    

}

.CaruselButt
{
    transition: 0.5s;
    width: 80px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.089);
    border: 3px solid white;
    margin: 0 5px 0 5px;
    z-index: 10;
   
}
.CaruselButt.Active
{
    background-color: white;
}
.CaruselButt:hover
{
    background-color: white;
}
/*-----------------------------------------------------*/

.ItemsGrid
{
    width: 100%;
    height: 100%;
    
}